
<div id="colorsito">
    @foreach (var Objects in Model)
    {
        <table>
            <tr>
                <th>Color @Objects.ID_OBJETO</th>
            </tr>
            <tr>
                <td>@Objects.COLOR</td>
            </tr>
        </table>
    }
</div>

